# Created by .ignore support plugin (hsz.mobi)
.gitignore
.gradle/
.idea/.gitignore
.idea/checkstyle-idea.xml
.idea/codeStyles/
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules/
.idea/sonarlint/
.idea/uiDesigner.xml
.idea/vcs.xml
src/test/java/com/health/metrics/TestMain.java
